@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    color: white;
    margin: 0;
    background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    min-height: 100vh;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background-color: white;
    padding: 20px;
    border-radius: 0 0 80px 0;
    transition: width 0.6s linear;
}

.nav.active {
    width: 350px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

.nav.active ul {
    width: 100%;
}

.nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

.nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

.nav ul a {
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.icon {
    background-color: white;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

.nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

.nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}