@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.container {
   position: relative;
   width: 100%;
   height: 100%;
   background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('ps.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right {
    right: 0;
    background: url('xbox.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
}